In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data_set_url = 'training_set/output_final.csv'
training_set = pd.read_csv(data_set_url, header=0, sep=',') 
training_set.head()

,red_pixel,green_pixel,blue_pixel,mean_red,mean_green,mean_blue,std_red,std_green,std_blue,corr_rg,corr_rb,corr_gb,inside
0,43,72,6,41.061224,71.000000,7.408163,6.364468,6.144518,5.875992,0.984228,0.913393,0.920780,1
1,48,77,13,41.755102,71.591837,8.387755,6.634882,6.375714,6.577067,0.982776,0.910389,0.904618,1
2,46,76,12,42.326531,72.244898,9.591837,6.996757,6.579283,6.933852,0.982015,0.925678,0.901819,1
3,44,74,12,43.938776,73.918367,11.285714,7.426945,7.233247,7.687785,0.980029,0.933559,0.897007,1
4,45,75,13,44.857143,75.000000,12.632653,9.023778,9.122746,8.993635,0.983698,0.933300,0.887997,1

In [5]:
header = ['red_pixel','green_pixel','blue_pixel','mean_red','mean_green','mean_blue','std_red','std_green','std_blue','corr_rg','corr_rb','corr_gb','inside']

In [3]:
test_set_url = 'test_set/output_test_set.csv'
test_set = pd.read_csv(test_set_url, header=0, sep=',') 
test_set.head()

,red_pixel,green_pixel,blue_pixel,mean_red,mean_green,mean_blue,std_red,std_green,std_blue,corr_rg,corr_rb,corr_gb,inside
0,44,57,4,46.836735,59.571429,6.653061,2.682878,2.747912,2.684430,0.920630,0.964088,0.986892,1
1,50,63,10,46.367347,59.142857,6.224490,2.154197,2.128523,2.062941,0.865366,0.936645,0.978010,1
2,42,55,2,45.775510,58.591837,5.673469,2.224771,2.098769,2.054242,0.863264,0.935106,0.977335,1
3,42,55,2,45.428571,58.367347,5.551020,2.347382,2.274023,2.100158,0.907187,0.941485,0.944735,1
4,45,58,5,45.142857,58.000000,5.387755,2.080031,2.175935,1.925302,0.870253,0.939132,0.871991,1

In [5]:
test_set.describe()

,red_pixel,green_pixel,blue_pixel,mean_red,mean_green,mean_blue,std_red,std_green,std_blue,corr_rg,corr_rb,corr_gb,inside
count,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000,997941.000000
mean,113.301585,116.017949,62.162957,113.298216,116.016227,62.162576,8.418757,8.134905,7.757816,0.952901,0.927246,0.929797,0.501032
std,60.198424,52.148720,54.090336,58.970564,50.841150,52.926082,8.705783,8.296806,8.021638,0.146928,0.151160,0.152088,0.499999
min,0.000000,0.000000,0.000000,1.244898,0.020408,0.204082,0.141392,0.141392,0.141392,-1.000000,-1.000000,-1.000000,0.000000
25%,66.000000,79.000000,18.000000,68.142857,80.551020,19.387755,1.848038,1.812999,1.877329,0.978886,0.934812,0.941280,0.000000
50%,97.000000,104.000000,44.000000,96.040816,103.448980,43.020408,5.267600,5.170399,5.002040,0.996343,0.981474,0.983263,1.000000
75%,165.000000,158.000000,104.000000,164.653061,156.469388,101.836735,12.502461,12.113375,11.305386,1.000000,0.996440,0.996977,1.000000
max,255.000000,255.000000,248.000000,241.693878,230.367347,215.795918,89.248069,81.959367,86.375805,1.000000,1.000000,1.000000,1.000000

In [6]:
training_set[header] = training_set[header].astype(float)
training_set.dtypes

red_pixel      float64
green_pixel    float64
blue_pixel     float64
mean_red       float64
mean_green     float64
mean_blue      float64
std_red        float64
std_green      float64
std_blue       float64
corr_rg        float64
corr_rb        float64
corr_gb        float64
inside         float64
dtype: object

In [7]:
training_set.describe()

,red_pixel,green_pixel,blue_pixel,mean_red,mean_green,mean_blue,std_red,std_green,std_blue,corr_rg,corr_rb,corr_gb,inside
count,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06
mean,1.225020e+02,1.262246e+02,7.254746e+01,1.225035e+02,1.262269e+02,7.254785e+01,8.015108e+00,7.763847e+00,7.432946e+00,9.434956e-01,9.160396e-01,9.178913e-01,5.014433e-01
std,6.069691e+01,5.207789e+01,5.859685e+01,5.948741e+01,5.077811e+01,5.755836e+01,8.989863e+00,8.554959e+00,8.078582e+00,1.598772e-01,1.655050e-01,1.745431e-01,4.999979e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,2.632653e+00,1.204082e+00,2.040816e-02,1.413919e-01,1.413919e-01,1.413919e-01,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00
25%,7.200000e+01,8.600000e+01,2.400000e+01,7.295918e+01,8.759184e+01,2.446939e+01,1.504955e+00,1.456863e+00,1.570235e+00,9.709500e-01,9.177738e-01,9.292004e-01,0.000000e+00
50%,1.080000e+02,1.150000e+02,5.200000e+01,1.061429e+02,1.133878e+02,5.006122e+01,4.547038e+00,4.489981e+00,4.397474e+00,9.954165e-01,9.778953e-01,9.811000e-01,1.000000e+00
75%,1.800000e+02,1.730000e+02,1.240000e+02,1.791020e+02,1.724286e+02,1.231020e+02,1.137454e+01,1.110943e+01,1.058241e+01,1.000000e+00,9.960366e-01,9.969647e-01,1.000000e+00
max,2.550000e+02,2.550000e+02,2.550000e+02,2.549796e+02,2.549796e+02,2.549796e+02,9.653856e+01,9.247682e+01,9.291633e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(training_set)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
training_set[header] = scaler.fit_transform(training_set[header])

In [10]:
training_set.describe()

,red_pixel,green_pixel,blue_pixel,mean_red,mean_green,mean_blue,std_red,std_green,std_blue,corr_rg,corr_rb,corr_gb,inside
count,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06,8.874329e+06
mean,4.803999e-01,4.949984e-01,2.844998e-01,4.750240e-01,4.926514e-01,2.844669e-01,8.167995e-02,8.255179e-02,7.859400e-02,9.717478e-01,9.580198e-01,9.589456e-01,5.014433e-01
std,2.380271e-01,2.042270e-01,2.297916e-01,2.357366e-01,2.000907e-01,2.257552e-01,9.325858e-02,9.265088e-02,8.707719e-02,7.993862e-02,8.275250e-02,8.727155e-02,4.999979e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.823529e-01,3.372549e-01,9.411765e-02,2.786899e-01,3.404101e-01,9.589370e-02,1.414526e-02,1.424665e-02,1.540118e-02,9.854750e-01,9.588869e-01,9.646002e-01,0.000000e+00
50%,4.235294e-01,4.509804e-01,2.039216e-01,4.101901e-01,4.420587e-01,1.962699e-01,4.570306e-02,4.709557e-02,4.587534e-02,9.977083e-01,9.889477e-01,9.905500e-01,1.000000e+00
75%,7.058824e-01,6.784314e-01,4.862745e-01,6.993126e-01,6.747085e-01,4.827503e-01,1.165299e-01,1.187847e-01,1.125414e-01,1.000000e+00,9.980183e-01,9.984824e-01,1.000000e+00
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

## Naive Bayes

In [10]:
from sklearn.naive_bayes import GaussianNB

In [11]:
y_train = targets = training_set['inside'] # dependent variable
x_train = training_set.drop(['inside'],axis=1)

In [13]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [14]:
test_set[header] = test_set[header].astype(float)
test_set.dtypes

red_pixel      float64
green_pixel    float64
blue_pixel     float64
mean_red       float64
mean_green     float64
mean_blue      float64
std_red        float64
std_green      float64
std_blue       float64
corr_rg        float64
corr_rb        float64
corr_gb        float64
inside         float64
dtype: object

In [15]:
scaler = MinMaxScaler()
scaler.fit(test_set)
test_set[header] = scaler.fit_transform(test_set[header])

In [16]:
y_test = test_set['inside'] # dependent variable
x_test = test_set.drop(['inside'],axis=1)

In [17]:
from sklearn.metrics import confusion_matrix
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm)
cm_df
cm_df.columns = ['1','0']
cm_df = cm_df.rename(index={0: '1',1:'0'})
cm_df

        1       0
1  325883  172058
0   18607  481393

In [18]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.95      0.65      0.77    497941
         1.0       0.74      0.96      0.83    500000

    accuracy                           0.81    997941
   macro avg       0.84      0.81      0.80    997941
weighted avg       0.84      0.81      0.80    997941

In [25]:
import pickle
model_file_name = 'naive_bayes_classifier_model.pkl'
file = open(model_file_name, 'wb')
pickle.dump(classifier, file)
file.close()

In [27]:
loaded_model = pickle.load(open('naive_bayes_classifier_model.pkl', 'rb'))

In [28]:
from sklearn.metrics import confusion_matrix
y_pred = loaded_model.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm)
cm_df
cm_df.columns = ['1','0']
cm_df = cm_df.rename(index={0: '1',1:'0'})
cm_df

        1       0
1  325883  172058
0   18607  481393

## Random Forest Classifier

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
y_train = targets = training_set['inside'] # dependent variable
x_train = training_set.drop(['inside'],axis=1)

In [15]:
classifier = RandomForestClassifier(verbose=3)

In [ ]:
classifier.fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

building tree 1 of 100

In [ ]:
test_set[header] = test_set[header].astype(float)
test_set.dtypes

In [ ]:
scaler = MinMaxScaler()
scaler.fit(test_set)
test_set[header] = scaler.fit_transform(test_set[header])

In [ ]:
y_test = test_set['inside'] # dependent variable
x_test = test_set.drop(['inside'],axis=1)

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm)
cm_df
cm_df.columns = ['1','0']
cm_df = cm_df.rename(index={0: '1',1:'0'})
cm_df

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

In [ ]:
import pickle

### Save model to disk

In [ ]:
model_file = 'randomforest_classifier_model.pkl'

In [ ]:
pickle.dump(classifier, open(model_file, 'wb'))